application/settings/database.php
application/settings/bootstrap.php
application/settings/enabled_module_directories.php
application/settings/general.php
application/settings/cache.php
application/settings/override.php
application/settings/mail.php
application/settings/log.php
application/settings/constants.xml


!public/

public/*
!public/admin/

temporary/

install/config/vfs.php
install/config/auth.php

*.zip
*.tar