/*Import FAQs*/
.sesuserimport_import_buttons{
	text-align:center;
}
.sesuserimport_import_buttons a{
	border:2px solid #0DC7F1;
	padding:10px;
	display:inline-block;
	width:230px;
	text-decoration:none !important;
	font-size:15px;
	line-height:16px;
	margin:0 3px;
}
.sesuserimport_import_buttons a:before{
	display:inline-block;
	height:16px;
	width:16px;
	content:"";
	margin-right:5px;
	vertical-align:middle;
}
.sesuserimport_import_buttons a:hover{
	opacity:.8;
}
.sesuserimport_download:before{
	background-image:url(~/application/modules/Sesfaq/externals/images/download.png);
}
.sesuserimport_import:before{
	background-image:url(~/application/modules/Sesfaq/externals/images/import.png);
}
.sesuserimport_admin_manage_table tbody tr{
	cursor:move;
}
.sesuserimport_add_form .form-wrapper .form-label i{
	display:none;
}
.sesuserimport_add_form .form-wrapper .form-element{
	width:60%;
}
.sesuserimport_add_form input[type=text],
.sesuserimport_add_form input[type=email],
.sesuserimport_add_form input[type=password],
.sesuserimport_add_form textarea{
	width:100% !important;
}
.sesuserimport_add_form .form-wrapper .form-element select{
	margin-right:4px;
	margin-left: 0;
	width: 32.33% !important;
	max-width: 32.33% !important;
	display: inline-block;
	vertical-align: middle;
}
.sesuserimport_add_form .form-wrapper div#timezone-element select,
.sesuserimport_add_form .form-wrapper div#language-element select,
.sesuserimport_add_form .form-wrapper div#level_id-element select,
.sesuserimport_add_form .form-wrapper div#network_id-element select{
	width: 100% !important;
	max-width: 100% !important;
}
.sesuserimport_add_form .form-wrapper .form-element select:last-child{
	margin-right:0px;
}
.sesuserimport_add_form div#approved-wrapper div#approved-label,
.sesuserimport_add_form div#verified-wrapper div#verified-label,
.sesuserimport_add_form div#enabled-wrapper div#enabled-label{
	display: none;
}
